:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(233, 233, 233, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #440be0;
  text-decoration: inherit;
}
a:hover{
  color: #43dd55;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #0b87e0;

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: none !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* img {
  border: 1px solid;
  border-radius: 5px;

} */
.container {
  margin-top: 10%;
  background-color: #ffffff;
  display: grid;
}
.product_container {
  align-content:center;
  display: grid;
  grid-template-columns:300px 300px 300px 300px;
  gap: 20px;
  background-color: #ffffff;
  margin-top: 10%;
}
.container_signup {
  align-content:center;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 30px;
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}
.product_header {

  margin: 20px;
  border: 1px solid;
  border-radius: 5px;
}

.pagination {
  background-color:"whitesmoke";
  width: 100%;
  height: 320px;
  z-index: 1100;
}
.view_button {
  position: sticky;

}


.navbar {
  overflow: hidden;
  top: 0; /* Position the navbar at the top of the page */

}
.zoom {
  /* padding: 50px; */
  /* background-color: green; */
  transition: transform .3s;
  /* width: 200px; */
  /* height: 200px; */
  /* margin: 0 auto; */
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  z-index: -10;
}

.search {
  background-color: #ffffff;
  width: 100%;
  height: 120px;
  position: fixed;
  top: 64px;
}
.error {
  text-align:left;
  width: 100%;
  max-width: 50%;
}